.container{
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px,500px,100px;
  grid-template-columns: 100px,600px;
  gap: 10px;
}
.TODO
{
  background-color: aliceblue;
  grid-row: 1;
  grid-column: 3;
}
.inProgress
{
  background-color: red;
  grid-row: 1;
  grid-column: 3;
}
.inReview
{
  background-color: green;
  grid-row: 1;
  grid-column: 3;
}
.Done
{
  background-color: blueviolet;
  grid-row: 1;
  grid-column: 3;
}
