.container{
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: grid;
 grid-template-rows: 40px,200px,40px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}
.todo{
  background-color: #000C66;
}
.inprogress{
  background-color: #000C66;
}
.inpreview{
  background-color: #000C66;
}
.done{
  background-color: #000C66;
}